
~$warner-copilot.pptx
~$warner-chatgpt-github-copilot.pptx
~$warner-chatgpt-github-copilot-march-2026.pptx
~$warner-chatgpt-github-copilot-may-2026.pptx
~$warner-chatgpt-github-copilot-may-2026-v2.pptx
